/*HAY PAPA ESTO SE PONE BUENO */

*{
    box-sizing: border-box;
    margin: 0px;
}

body{
    background-image: linear-gradient(to left,blue, green);
}




.MenuV{
    float: left;
    width: 22%;
    overflow: hidden;
    border: 5px double;
}


.MenuV a{
    background-color: black;
    color: white;
    text-decoration: none;
    padding: 20px;
    display: block;
    

}

.MenuV a:hover{
    background-color: white;
    color: black;
}



.MenuH{
    overflow: hidden;
    border-style: double;
}


.MenuH a{
    background-color: black;
    color: white;
    text-decoration: none;
    float: left;
    width: 25%;
    text-align: center;
    padding: 20px;
    
    
}

.MenuH a:hover{
    background-color: white;
    color: black;
}
